* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    background-color: #FF6900;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 1;
}
body{
    padding-top: 80px;
}

nav {
    min-height: 80px;
    width: 100%;
}

footer {
    background-color: #1A1A1A;
    position: fixed;
    bottom:0;
    right: 0;
    left: 0;
}
main{
    padding-bottom: 100px;
}
        /*CONTEINER*/
.conteiner {
    max-width: 1500px;
    min-height: 80px;
    margin-left: auto;
    margin-right: auto;
}
.conteiner-foot{
    max-width: 1500px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.conteiner-card {
    width: 100%;
}

.conteiner-info {
    width: 50%;
}

.conteiner-brand {
    width: 50%;
    text-align: end;
}

.link,
.login-shop {
    width: 25%;
}

.white-text, i {
    color: #FFFEFD;

}

.margin-left {
    margin-left: 5px;

}

.link>a {
    font-weight: bold;
    text-decoration: none;
}

.logo {
    width: 50%;
    text-align: center;
}

.login-shop {
    text-align: end;
}
.card {
    width: 25%;
    margin: 60px 20px;
    position: relative;
    display: inline-block;
}

.second-img,.first-img{
    width: 100%;
}

.info{
    margin-right:5px;
}
.found-on{
    font-weight: bold;
}
.info, .found-on{
    font-size: 1rem;
}

.logo>img {
    width: 20%;
}

.marchio,
.price,
.price-before {
    font-size: 1rem;
}
.type-dress{
    font-size: 1.25rem;
}

.price {
    color: #FF1C27;
    font-weight: bolder;
}

.price-before {
    text-decoration: line-through;
}

.discount {
    width: 50px;
    height: 25px;
    background-color: red;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    font-size: 1rem;
    bottom: 125px;
}

.sostenibilita {
    bottom: 125px;
    left: 53px;
}
.sostenibilita-last{
    bottom: 125px;
}
.sostenibilita, .sostenibilita-last{
    width: 110px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    font-size: 1rem;
    background-color: #008000;
    display: block;
}

.discount,
.sostenibilita,
.heart,.sostenibilita-last {
    position: absolute;
}

.heart {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    text-align: center;
    line-height: 50px;
    top: 10px;
    right: -5px;
    background-color: white;
}

.company{
    font-weight: bold;
    font-size: 1.25rem;
    margin: 10px 0;
}
.fa-brands{
    font-size: 1.25rem;
    margin: 7px 3px; 
}

.flex {
    display: flex;
}

.just-eve {
    justify-content: space-evenly;
}

.just-cent {
    justify-content: center;
}

.just-betw {
    justify-content: space-between;
}

.ali-it-cent {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

        /*HOVER HEART*/

.hov-heart:hover .heart{
    display: block;
    color: red;
}
        /*HOVER LINK-NAV-BAR*/
.link:hover a{
    display: inline-block;
    text-align: start;
    text-decoration: underline;
}

        /*HOVER IMG*/
.card:hover .second-img{
    display: inline;
}

.second-img{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}